body,
html {
  margin: 0;
  overflow: hidden;
}
#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.char {
  position: relative;
  transform: scale(0.9);
}

#text-box {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 50%;
  min-width: 700px;
  background-color: #000;
  color: white;
  font-family: "Lucida Console";
  padding: 10px;
  margin: 0 0 10px 0;
  height: 20vh;

  border: 5px ridge #444;
  opacity: 0.98;
}

#text-box:hover {
  opacity: 0.95;
}

#name {
  color: #fff;
  background-color: #000;
  width: 100%;
  display: inline;
  font-size: 30px;
  margin: 0 0 0px 0;
  padding: 0 20px 0px 0px;
  border-right: 2px solid #fff;

  position: relative;
}

#dialogue {
  display: inline;
  position: relative;
  padding: 0 0px 0px 10px;
  font-size: 17px;
  margin: 0;
}

.container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  z-index: 5;
}

.eyes,
.mouth,
.hair {
  z-index: 6;
}

.rightArm,
.leftArm {
  width: auto;
  z-index: 4;
}
